// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.ginseng{
    background-color: black;
}

.tombol{
    background-color: rgb(35, 94, 112);
}

.wa{
    background-color: rgb(0, 203, 112);
}
